body{
    background: black;
    font-family: sans-serif;
    color:snow;
    margin: 0;
}

.card{
    background: #222;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}

.card1{
    margin: -20px;
}

.nav{
    background-color: #1b1b1b;
}

.nav__list{
    margin: 0;
}

.nav__item{
    display: inline-block;
    padding: 20px;
    background-color: #1b1b1b;
}

.nav__item:hover{
    background-color: #504f4f;
}

.nav__link{
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}

h1{
    padding-top: 30px;
    font-size: xx-large;
}

h2{
    font-size: large;
    font-weight: 100;
    letter-spacing: 2px;
    padding-bottom: 30px;
}

.img1{
    width: 100%;
    height: 400px;
    margin: 0;
    background-color: transparent;
    background-image:url(https://www.diariosigloxxi.com/multimedia/images/img_50106c47d9d997eb9c6cc2e5c7f58dd8.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.opaco{
    height: 100%;
    width: 100%;
    background-color: #000a;
}

.card_about_me{
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    height: 400px;
    margin: 0;
    background-color: #222;
}

.title_am{
    padding-top: 20px;
    text-align: center;
}

.img2{
    width: 200px;
    height: 250px;
    background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music126/v4/55/d6/1e/55d61e51-32b3-3241-599a-b30089846acb/ANTCD-49594.jpg/1200x1200bf-60.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 300px;
}

.text_am{
    padding: 50px;
    text-align: justify;
    width: auto;
    margin-left: 700px;
}

.content_about_me{
    display: inline-block;
}

.img3{
    width: 400px;
    height: 200px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/46/UNMSM_Facultad_de_Ingeniería_de_Sistemas_e_Informática_2019_-_Vista_lateral.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 180px;
}

.text_studies{
    padding: 50px;
    padding-right: 300px;
    text-align: justify;
    width: auto;
    margin-left: 700px;
}

.title_studies{
    padding-top: 20px;
    text-align: center;
}

.card_studies{
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
    background-color: #222;
}